{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .w3-about-container {
        margin-top:1%; 
        margin-left: 5%; 
        margin-right: 5%; 
        margin-bottom: 1%;
    }

    @media only screen and (max-width: 600px) {
        .w3-about-container {
            margin: 0!important;
            padding: 0!important;
        }
    }

    .about-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-size: 130%;
    }

    .row {
        margin-top: 3em!important;
        margin-bottom: 3em!important;
    }
    .jumbotron {
        background-color: rgb(50, 109, 168);
    }
</style>
{% endblock %}

{% block body %} 
<div class="jumbotron text-center">
    <h1>Bemutatkozó</h1>
    <p>
        Csapatunk olyan tapasztalt szakemberekből áll, akik több
        évtizedes múlttal rendelkeznek az
        ingatlanszektorban. Rendkívül nagy tudással és szakmai
        rutinnal végezzük tevékenységünket, amibe többek között az
        adósságrendezés, a követelésvásárlás és az árverések
        lebonyolítása is beletartozik. Aktív és folyamatos kapcsolatot
        tartunk fenn faktorcégekkel, pénzintézetekkel. Munkánkat
        hosszú évek óta stabil ügyvédi háttér támogatja, amelynek
        eredményeként a jogszabályoknak és törvényeknek megfelelően
        megszerzett ingatlanok, ingatlanrészek vagy azok terheinek
        tranzakcióit sikeresen, nyereséggel zárjuk le.
        Mindezt az egész országra kiterjedő ingatlanismeretünk
        mellett a területekhez kapcsolódó végrehajtói kapcsolataink is
        elősegítik. Nincs olyan probléma, amely megakaszthatná
        ügyleteinket, továbbá nincs olyan váratlan helyzet, amire ne
        lennénk felkészülve, legyen az akár egy törvénymódosítás, mi
        rugalmasan alkalmazkodunk és nyereséggel zárjuk az ügyletet.
    </p>
</div>
<h3 class="w3-center">Teljeskörű ingatlankezelés</h3>
<div class="row w3-about-container">
    <div class="col-md-12 col-sm-12 about-text-container">
        <p>
            Már az ingatlanok felújításával, lehetséges hibák gyors
            felismerésével, minőségi javításával kapcsolatban szakértőként
            tudunk fellépni Ez megteremti a lehetőséget számunkra, hogy
            olyan ingatlanokkal is foglalkozzunk, ahol szükséges a felújítás,
            vagy akár a bontás, hogy használatra kész épületként vagy
            építési telekként minél hamarabb értékesíteni tudjuk
            ügyfeleinknek. Saját, évek óta összekovácsolódott építőipari
            szakember-csapatunknak köszönhetően a szükséges
            munkálatokat a tervezéstől a kivitelezésig el tudjuk végezni,
            aminek fő előnye, hogy bármilyen igényt rövid határidővel és
            garanciával vállalunk. Mindemellett a megszerzett ingatlan
            értékesítésében is részt vállalunk, hiszen ezen a területen is
            nagy tapasztalattal rendelkezünk.
        </p>
    </div>
</div>
<h3 class="w3-center">Maximális információ a biztos döntéshez</h3>
<div class="row w3-about-container">
    <div class="col-md-12 col-sm-12 about-text-container">
        <p>
            Társaságunk minden ingatlan esetében alapos előkészítő
            munkát, valamint átfogó értékbecslést végez, amelynek
            eredményeként azonnal rendelkezésre állnak befektetőink
            számára mindazok az információk és adatok, amelyekre
            alapozva megfelelő döntést hozhatnak. Az általunk kiajálott
            ingatlanok egy többszörös szűrési mechanizmuson esnek át,
            melynek alapját a cégünk által kidolgozott válogatási rendszer
            adja. Saját weboldalunk jelszóval védett területén partnereink
            számára rendelkezésre állnak az átvilágított ingatlanok adatai
            és egyéb paraméterei, amelyet saját készítésű képekkel,
            aktuális tulajdoni lappal, amennyiben árverésen szerepel az
            ingatlan, akkor az árverési hirdetménnyel, rövid leírással,
            befektetői összefoglalóval, valamint a folyamatosan frissített
            értékbecsléssel egészítünk ki.
        </p>
    </div>
    <!-- <div class="col-md-3 col-sm-12"> -->
        <!-- <img src="{% static 'assets/hand.jpg'%}" style="width: 100%;height: 100%;"> -->
    <!-- </div> -->
</div>
<h3 class="w3-center">Velünk mindenki nyer!</h3>
<div class="row w3-about-container">
    <div class="col-md-12 col-sm-12 about-text-container">
        <p>
            Szolgáltatásaink közé tartozik továbbá az adóskezelés is.
            Filozófiánk, hogy minden esetben az adósok részére is a
            legmegfelelőbb megoldást keressük, ami nagyban segíti a gyors
            megtérülés lehetőségét.Befektetőinknek nincs más dolga, mint
            hátradőlni, hiszen rendszeresen tájékoztatjuk őket az ügyletek
            státuszáról, folyamatosan egyeztetünk a szükséges
            kérdésekben, de az is nagy örömünkre szolgál, ha aktívan részt
            kívánnak venni egy-egy közös projektünkben.
            Mivel működésünk sikerdíjas, így a befektetővel közös
            érdekünk, hogy a lehető legmagasabb nyereséget érjük el
            minden egyes ügylet során.
        </p>
    </div>
</div>{% endblock %}