{% extends 'base.html' %}
{% load static %}
{% block body %}
<script type="text/javascript">
function PreviewImage() {
    var oFReader = new FileReader();
    oFReader.readAsDataURL(document.getElementById("id_img").files[0]);
    oFReader.onload = function (oFREvent) {
        document.getElementById("uploadPreview").src = oFREvent.target.result;
    };
};
</script>

<div class="w3-container" style="margin-top:1%; margin-left: 10%; margin-right: 10%; margin-bottom: 1%;">
    <h2 style="text-align: center;"><b>Post ad for Apartment</b></h2>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    
    <a href="/posth/"><button style="float: right;" type="submit" class="btn btn-success btn-sm">Post ad for House</button></a>
    <br>
    
    <div id="id1">
        <form action="/post/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <button class="btn btn-primary btn-block" type="submit">Post</button>
        </form>
    </div>
</div>
{% endblock %}